<p books/id="notice">
	<%= notice %>
</p>



<p>Title:<span class="booktitle"><%= @book.title %></span></p>


<p>Body: <td><%= @book.body %></td> </p>

<td><%= link_to "Edit", edit_book_path(@book.id) %></td>
<td><%= link_to "Back", books_path %></td>
